.task {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.handleDone {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 10px;
}

.done {
  background-image: url("./assets/icons8-done.svg");
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.done ~ .text {
  text-decoration: line-through;
}

.text {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.buttons {
  display: flex;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonDelete {
  margin-left: 5px;
}

.handleDone:hover {
  background-image: url("./assets/icons8-done.svg");
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
}
